<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC 
	"-//SPRING//DTD BEAN 2.0//EN" 
	"http://www.springframework.org/dtd/spring-beans-2.0.dtd">

<beans default-autowire="byName">

	<import resource="spring-db.xml" />
	<import resource="spring-facade.xml" />
	<import resource="spring-persistence.xml" />
	<import resource="spring-service.xml" />
    <import resource="spring-service2.xml" />
    <!-- 下面dataEx-applicationContext-beans 和   spring-scheduler 不在集群下访问-->
    <!-- <import resource="dataEx-applicationContext-beans.xml" />
    <import resource="spring-scheduler.xml" />-->
    <!-- 内外网分离即时同步 -->
    <import resource="spring-activemq-sync.xml"/>
</beans>